body{
    background: linear-gradient(25deg,#7698A7,rgba(255, 255, 255, 0.9),#9A79B0);;
    
    font-family: Martel,'Open Sans';
    text-align: center;
}
.dark-mode {
  background: linear-gradient(25deg,#7698A7,rgb(47, 52, 55),#9A79B0);
  color: rgba(255, 255, 255, 0.9);
}
.minutos{
    background-color: rgba(255, 255, 255, 0.9)!important;;
    width: 35px;
    color: #575975;
    
    
}
.minutosDark{
    width: 35px;
    background-color: rgb(47, 52, 55)!important;
    color:rgba(255, 255, 255, 0.9);
}

.tiempoTrabajo{
    position: absolute;
    top:-60px;
    margin:auto;
    width: 190px;
    height: 190px;
    padding: 2px;
    border-color: #83ADDE;
    border-width: 6px ;
    border-style: solid;
    
    border-radius: 100%;
}
.timerTrabajo{
 position: relative;
 margin:20px;
}
.timerTrabajo2{
  position: relative;
  margin-top: 68px;
  margin-bottom: 12px;
 }
.relojDescanso{
    position: relative;
    top:27px;
}
.botton{
    background: none;
    border: none;
    font-size: 20px;
    color:#575975;
}
.bottontDark{
  background: none;
    border: none;
    font-size: 20px;
  color: rgba(255, 255, 255, 0.9)
}
.boton{
    background: none;
    border: none;
    font-size: 31px;
    color:#575975;
    
}
.botonDark{
  background: none;
    border: none;
    font-size: 31px;
    color:rgba(255, 255, 255, 0.9);
}
.progress-ring {
    
    width: 176px;
    height: 176px;
    
    position: absolute;
    
    top: 341px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .progress-ring__circle {
    
    transition: 1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #CAD6E3;
    /* z-index: -1; */
  }
  .progress-ring2 {
    
    width: 176px;
    height: 176px;
    position: absolute;
    top: 540px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .progress-ring__circle2 {
    
    transition: 1s;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    stroke: #065bb6;
    
  }
  .darkBotton{
    position: absolute;
    top:3%;
    left: 3%;
  }
  .contadores{
    border: 2px solid #124468;
    border-radius: 3%;
    width: 295px;
    height: 640px;
    position: absolute;
    left: 42%;
    
    top:3%;
    box-shadow: 2px 2px 10px #666;
    
    
    
  }
.tiempoTrabajo{
  position: relative;
  margin-top: 77px ;
}

.ctexto{
  border: 2px solid #124468;
  border-radius: 3%;
  width: 280px;
  height: 400px;
  position:absolute ;
  left:15%;
  top:12%;
  box-shadow: 2px 2px 10px #666;
  
  
}
.descripcion{
position: relative;
margin: 5%;
font-size:100%;
font-family: Martel,'Open Sans';
}